articles/Forget_RAG_the_Future_is_RAG-Fusion_by_Adrian_Raudaschl_TDS_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/Summarization-Based_Document_IDs_for_Generative_Retrieval_with_Language_Models_Li_2024.pdf filter=lfs diff=lfs merge=lfs -text
